<div class="comments-container">
   

		<h1>Comentarios <a href="http://creaticode.com">creaticode.com</a></h1>

		<ul id="comments-list" class="comments-list">
			<li>
				<div class="comment-main-level">
					<!-- Avatar -->
					
					<!-- Contenedor del Comentario -->
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author"><a href="#"><%= comment.name %></a></h6>
							<span><%= time_ago_in_words(comment.created_at) %></span>
							<i class="fa fa-reply"></i>
							<i class="fa fa-heart"></i>
						</div>
						<div class="comment-content">
							<p><%= comment.body %></p> 
                                   
						</div>
                              
				          </div>
                         </div>
            
              <!-- Respuestas de los comentarios -->
			
   </div>               