
<div class="row">
<div class="article-row-section">
  <div class="article-row-section-inner">

<div class="medium-6 columns-7">
<div class="responsive-blog-post">

<div class="basic-card">
  <div class="basic-card-image">
    <img src="https://placeimg.com/640/480/animals", size="60*20">
  </div>
  <div class="basic-card-content content callout secondary">
    <h5>Content</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi saepe, asperiores dolor nesciunt dolore, accusamus minus repellendus vero odio, quibusdam, ipsum nisi in a molestiae ex assumenda nulla eveniet eos!</p>
  </div>
  
</div>


</div>
</div>
</div>

</div>
</div>