
<!-- User card example #1 -->
<div class="card-user-container">

  <!--card's image-->
  <div class="card-user-avatar">
    <img src="https://picsum.photos/300/300" alt="" class="user-image">
  </div>

  <!--user info name, bio and location-->
  <div class="card-user-bio">
    <h4>Durand</h4>
    <p>Naoned L’autre Voyage, contact@naoned.l.autre.voyage.com </p>
    <span class="location"><span class="location-icon fa fa-map-marker"></span><span class="location-text">France, Nantes 94015</span></span>
  </div>

  <!--card's socail icons-->
  <div class="card-user-social">
    <ul class="menu">
      <li class="fa fa-facebook"></li>
      <li class="fa fa-twitter"></li>
      <li class="fa fa-dribbble"></li>
      <li class="fa fa-instagram"></li>
      <li class="fa fa-github"></li>
    </ul>
  </div>

  <!--card's follow button-->
  <div class="card-user-button">
    <a href="#" class="hollow button">SUIVRE</a>
  </div>
</div>




