<% @nantes.each do |nante| %>




<div class="cell medium-8">

<div class="grid-x align-center">




<div class="article-post-image">
    <div class="thumbnail">

<figure class="snip1504">
  <%= image_tag(nante.image, size: "808x808", alt: "img33", class: "thumbnail") %>
  <figcaption>
    <h3>Benjamin Evalent</h3>
    <h5>Design</h5>
  </figcaption>
  <a href="#"></a>
</figure>



</div>
  </div>

</div>

</div>

<% end %>