


<div class="hero-section" style="background-repeat: 50% no-repeat; background-size: cover; background-blend-mode: multiply;background-position: center center;background-image: url('https://i.ibb.co/NjRdDtc/inc1.jpg'">
  <div class="hero-section-text">
    <h1></h1>
  
    <h5 class="card-title">Decouvrir La Ville De Nantes</h5>
  </div>
</div>


